# Node.js
node_modules/

# Compiled files
build/
dist/

# Environment variables
.env
.env.local
.env.*.local

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db

# Editor-specific files
.vscode/
.idea/

# Webpack build files
/build

# Production build
/build

/public